In [6]:
import pandas as pd

df=pd.read_csv('dataset10.tsv', sep='\t',header=0)
df.columns= ['subject', 'predicate', 'object']
df

   subject predicate object
0      Bob      like  movie
1  Charlie      like  movie
2    David      like  music
3      Eve      like  music
4    Alice       has    cat
5      Bob       has    cat
6    David       has    dog
7      Eve       has    dog
8    Frank       has    dog
9    David       has    cat

In [7]:
from pykeen.triples import TriplesFactory

# Assuming your dataframe has columns 'subject', 'predicate', 'object'
triples_factory = TriplesFactory.from_labeled_triples(
    triples=df[['subject', 'predicate', 'object']].values,
)

# Display the first few triples
triples_factory.triples

Reconstructing all label-based triples. This is expensive and rarely needed.

array([['Alice', 'has', 'cat'],
       ['Bob', 'has', 'cat'],
       ['Bob', 'like', 'movie'],
       ['Charlie', 'like', 'movie'],
       ['David', 'has', 'cat'],
       ['David', 'has', 'dog'],
       ['David', 'like', 'music'],
       ['Eve', 'has', 'dog'],
       ['Eve', 'like', 'music'],
       ['Frank', 'has', 'dog']], dtype='<U7')

In [8]:
# training, validation, testing = triples_factory.split(ratios=(.6, .2, .2))
training = triples_factory
validation = triples_factory
testing = triples_factory

d=training

In [9]:
d.entity_to_id

{'Alice': 0,
 'Bob': 1,
 'Charlie': 2,
 'David': 3,
 'Eve': 4,
 'Frank': 5,
 'cat': 6,
 'dog': 7,
 'movie': 8,
 'music': 9}

In [10]:
d.relation_to_id

{'has': 0, 'like': 1}

In [11]:
d.map_triples(d.triples)

Reconstructing all label-based triples. This is expensive and rarely needed.

tensor([[0, 0, 6],
        [1, 0, 6],
        [1, 1, 8],
        [2, 1, 8],
        [3, 0, 6],
        [3, 0, 7],
        [3, 1, 9],
        [4, 0, 7],
        [4, 1, 9],
        [5, 0, 7]])

In [12]:
d.triples

Reconstructing all label-based triples. This is expensive and rarely needed.

array([['Alice', 'has', 'cat'],
       ['Bob', 'has', 'cat'],
       ['Bob', 'like', 'movie'],
       ['Charlie', 'like', 'movie'],
       ['David', 'has', 'cat'],
       ['David', 'has', 'dog'],
       ['David', 'like', 'music'],
       ['Eve', 'has', 'dog'],
       ['Eve', 'like', 'music'],
       ['Frank', 'has', 'dog']], dtype='<U7')

In [13]:
id_to_entity={v: k for k, v in d.entity_to_id.items()}
id_to_relation={v: k for k, v in d.relation_to_id.items()}

for i in d.map_triples(d.triples):
    s,p,o =int(i[0]), int(i[1]), int(i[2])
    h,r,t = id_to_entity[s], id_to_relation[p], id_to_entity[o]
    print(f"{s:2d}:{h:7}{p:2d}:{r:7} {o:2d}:{t:7}")

Reconstructing all label-based triples. This is expensive and rarely needed.

 0:Alice   0:has      6:cat
 1:Bob     0:has      6:cat
 1:Bob     1:like     8:movie
 2:Charlie 1:like     8:movie
 3:David   0:has      6:cat
 3:David   0:has      7:dog
 3:David   1:like     9:music
 4:Eve     0:has      7:dog
 4:Eve     1:like     9:music
 5:Frank   0:has      7:dog